<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="shortcut icon" href="../static/image/favicon-night.ico" />
    <link href="../static/css/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="../static/css/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="../static/css/assets/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="../static/css/assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="../static/css/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/assets/css/lib/nixon.css" rel="stylesheet">
    <link href="../static/css/assets/lib/lobipanel/css/lobipanel.min.css" rel="stylesheet">
    <link href="../static/css/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <div >
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li >
                        <a class="sidebar-sub-toggle"><i class="ti-home"></i>Home</a>
                    </li>


                    <li><a href="app-profile.html"><i class="ti-github"></i> average strategy</a></li>
                    <li><a href="javascript:void(0)" onclick="analyze()"><i class="ti-rss-alt"></i> Stock Analyze </a></li>
                    <li><a><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>