<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>量化交易系统</title>
    <link rel="shortcut icon" href="../static/image/favicon-night.ico" />
    <link href="../static/css/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="../static/css/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="../static/css/assets/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="../static/css/assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="../static/css/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/assets/css/lib/nixon.css" rel="stylesheet">
    <link href="../static/css/assets/lib/lobipanel/css/lobipanel.min.css" rel="stylesheet">
    <link href="../static/css/assets/css/style.css" rel="stylesheet">
    <link href="../static/css/night_css.css" rel="stylesheet">
</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li >
                        <a class="sidebar-sub-toggle"><i class="ti-home"></i>Home</a>
                    </li>


                    <li><a href="app-profile.html"><i class="ti-user"></i> average strategy</a></li>
                    <li><a><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->
    <div class="header">
        <div class="pull-left">
            <div class="logo">
                <a href="index.html">
                    <img id="logoImg" src="../static/image/logo.png" data-logo_big="../static/image/logo.png" data-logo_small="../static/image/logoSmall.png" alt="Nixon" />
                </a>
            </div>
            <div class="hamburger sidebar-toggle">
                <span class="ti-menu"></span>
            </div>
        </div>

    </div>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <!-- /# row -->
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-two">
                                    <div class="widget-icon color-1">
                                        <i class="fas fa-bullseye"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="stat-text">Today Expenses </div>
                                        <div class="stat-digit"> <i class="fa fa-dollar-sign"></i>8500</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-two">
                                    <div class="widget-icon color-2">
                                        <i class="fas fa-credit-card"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="stat-text">Income Detail</div>
                                        <div class="stat-digit"> <i class="fa fa-dollar-sign"></i>7800</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-two">
                                    <div class="widget-icon color-3">
                                        <i class="fas fa-tasks"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="stat-text">Task Completed</div>
                                        <div class="stat-digit"> 500</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-two">
                                    <div class="widget-icon color-4">
                                        <i class="fas fa-users"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="stat-text">Today Visitor</div>
                                        <div class="stat-digit"> 650</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->
                    <div class="row">
                        <div class="col-lg-6">
                                <div class="card-header">
                                    <h4 class="k_tile">International Index </h4>
                                    <div id="international_index" style="height:400px;">

                                    </div>
                                </div>

                        </div>
                        <!-- /# column -->
                        <div class="col-lg-6">
                                <div class="card-header">
                                    <h4>Team Total Completed </h4>
                                </div>

                        </div>
                        <!-- /# column -->
                    </div>
         <!-- /# row -->     </div>
 </div>
 <!-- /# container-fluid -->
</div>
<!-- /# main -->
</div>
<!-- /# content wrap -->
<script src="../static/css/assets/js/lib/jquery.min.js"></script>
<!-- jquery vendor -->
<script src="../static/css/assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="../static/css/assets/js/lib/sidebar.js"></script>
<!-- sidebar -->
<script src="../static/css/assets/js/lib/bootstrap.min.js"></script>
<!--  Datamap -->
<script src="../static/css/assets/js/lib/datamap/d3.min.js"></script>
<script src="../static/css/assets/js/lib/datamap/topojson.js"></script>
<script src="../static/css/assets/js/lib/datamap/datamaps.world.min.js"></script>
<script src="../static/css/assets/js/lib/datamap/datamap-init.js"></script>
<script src="../static/css/assets/lib/lobipanel/js/lobipanel.js"></script>
<script src="../static/js/echarts.js"></script>
<script src="../static/js/jquery.min.js"></script>
<!-- // Datamap -->
<script src="../static/css/assets/js/scripts.js"></script>
    <script src="../static/js/night_echart.js"></script>
<script>

 $(document).ready(function() {
     $.ajax({
         url : "/getIndex/?token="+sessionStorage.getItem("token"),
         type : "POST",
         dataType: "json",
         async : false,
         data : {},
         success : function (res){
            if(res.code == "0000"){
               echart_k(res.times,res.code_name,res.view_data);
            }else{
                alert(res.msg)
            }
         },
         error : function (res){
            alert("获取指数失败")
         }
     })

    });
</script>
</body>

</html>